body {
  font-family: Roboto, Arial;
  color: rgb(33, 33, 33);
  margin: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.checkout-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding-right: 30px;
  padding-left: 30px;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: min(100%, 1100px);
  z-index: 1000;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}
.header-left {
  width: 100px;
}
.header-left img {
  max-width: 100%;
  margin-top: 12px;
  cursor: pointer;
}
.header-center {
  display: flex;
  flex: 1;
  flex-shrink: 0;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  position: relative;
  justify-content: center;
}
main {
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
}
.page-title {
  font-weight: 700;
  font-size: 22px;
}
.checkout-grid {
  display: grid;
  grid-template-columns: 1fr 350px;
  column-gap: 12px;
  align-items: start;
}
.cart-summary {
  
}